[defaults]
interpreter_python = /usr/bin/env python
deprecation_warnings = False
host_key_checking = False
inventory = ../inventory
dedault_timeout = 180

[persistent_connection]
connect_timeout = 2400
command_timeout = 2400